{{ define "main" }}
<div id="background">
  <div id="top-content" class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div id="titles">
              <div class="row">
                <div class="col-sm">
                  {{ with .Resources.GetMatch "barlo_logotype_black.svg" }}
                  <img
                    id="barlo-logo"
                    src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
                  />
                  {{ end }}
                </div>
              </div>
              <div class="row">
                <div id="slogun-1">
                  <strong>SWIPE RIGHT TO MEET YOUR RESCUE DOG TODAY</strong>
                </div>
              </div>
              <div id="tagline" class="row">
                <div class="col-sm">
                  <h1 class="display-2">
                    Find your rescue dog <br> and join our community <br> of dog lovers
                    today.
                  </h1>
                </div>
              </div>
              <div class="row">
                <h2 id="slogun-2"><strong>Adopt. Foster. Connect.</strong></h2>
              </div>
            </div>
          </div>
          <div id="barlo-app" class="col-sm-5">
            {{ with .Resources.GetMatch "barlo_mobile.png" }}
            <img
              class="img-fluid"
              src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
            />
            {{ end }}
          </div>
          <div class="col-xs">
            <button type="button" class="btn btn-default">
              <strong>Get early access</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="description" class="container-fluid">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg barlo-cirle">
          <div>
            {{ with .Resources.GetMatch "barlo_circle.png" }}
            <img
              class="img-fluid"
              src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
            />
            {{ end }}
          </div>
          <strong>Efficiently search and apply for dogs</strong>
          <ul>
            <li>
              One place for rescue dogs across the UK Find your personalised dog
              match
            </li>
            <li>Find your personalised dog match</li>
            <li>Create a profile and apply for a dog with one click</li>
            <li>Get alerts when new dog matches are added</li>
          </ul>
        </div>
        <div class="col-lg barlo-cirle">
          <div>
            {{ with .Resources.GetMatch "barlo_circle2.png" }}
            <img
              class="img-fluid"
              src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
            />
            {{ end }}
          </div>
          <strong>Connect with our community of dog lovers and experts </strong>
          <ul>
            <li>Find friends and support</li>
            <li>Learn everything about becoming a dog owner</li>
            <li>Join events</li>
            <li>Stay up to date with volunteer opportunities</li>
          </ul>
        </div>
        <div class="col-lg barlo-cirle">
          <div>
            {{ with .Resources.GetMatch "barlo_circle3.png" }}
            <img
              class="img-fluid"
              src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
            />
            {{ end }}
          </div>
          <strong>Amplify your reach</strong>
          <ul>
            <li>List dogs on Barlo for free</li>
            <li>
              Automatic screening of applications leading to better, not more,
              matches
            </li>
            <li>
              Use our searchable database of adopters and fosters for difficult
              to rehome dogs
            </li>
            <li>Outsource time consuming admin tasks</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="contact-box" class="container-fluid">
    <div class="container">
      <div class="row h-100">
        <div id="contact-text" class="col-sm align-self-center">
          <h1>Get in touch</h1>
          <p>Please contact us about connecting with Barlo</p>
        </div>
        <div id="contact-input" class="col-sm align-self-center">
          <div class="curved">
            <form action="https://formspree.io/f/xyyoneyl" method="POST">
              <div class="row">
                <input
                  class="contact-input-box"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Name"
                  required=""
                />
              </div>
              <div class="row">
                <input
                  class="contact-input-box"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  required=""
                />
              </div>
              <div class="row">
                <textarea
                  class="contact-input-box contact-text-box"
                  id="message"
                  name="message"
                  placeholder="Message"
                  required=""
                ></textarea>
              </div>
              <button type="submit" class="btn btn-form">
                <strong>Submit</strong>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
