/* @media (max-width: 1200px) {
  max-width: 1200px;
  .container{
  }
}

@media (min-width: 1200px) {
  .container{
      max-width: 100%;
  }
} */

/* Mobile */

/* Jumbotron Device Orders */

/* .custom-container {
  margin: 0px 150px 0px 150px;
} */

#barlo-logo img {
  height: 80px;
}

#slogun-1 {
  margin-top: 1rem;
  font-size: 28px;
  word-wrap: break-word;
  color: #93d0d7;
}

#slogun-2 {
  margin-top: 1rem;
  font-size: 45px;
}

/* Mobile */

/* html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y;
} */

#background {
  font-family: "League Spartan", sans-serif;
}

.btn {
  margin-bottom: -1.75rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
/* Boostrap Buttons Styling */

.btn-default {
  font-size: 30px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 50px;
  background: #93d0d7;
  border: 2px #93d0d7;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  background: #f0eded;
  border: 2px #f0eded;
}

.btn-form {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  background: rgba(132, 203, 209, 1);
  border: 2px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  float: right;
}

#description {
  background-color: white;
  margin-top: 10rem;
  font-family: "League Spartan", sans-serif;
}

#description ul {
  text-align: left;
  margin-bottom: 50px;
}

.barlo-circle img {
  width: 170px; /* you can use % */
  height: auto;
  font-size: 40px;
}

.barlo-circle strong {
  font-size: 40px;
  line-height: 80%;
}

.barlo-circle ul {
  font-size: 22px;
}

#contact-box {
  height: 650px;
  background-color: rgba(253, 235, 233, 1);
  font-family: "League Spartan", sans-serif;
  padding: 75px 0 0 0;
}

.contact-input-box {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(229, 244, 246, 1);
  border-radius: 15px;
  padding: 12px;
  border: none;
}

.contact-input-box::placeholder {
  color: black;
  opacity: 1;
}

.contact-text-box {
  padding-bottom: 100px;
  line-height: 200%;
  resize: none;
}

.curved {
  background-color: white;
  border-radius: 30px;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
}

.hr-title {
  color: #b6a7a4;
  margin-bottom: 50px;
}

.footer {
  background-color: rgba(253, 235, 233, 1);
  margin: 0 0 0 0;
}

@media (max-width: 800px) {
  html,
  body {
    overflow: hidden;
    /* overflow: scroll;
    -webkit-overflow-scrolling: touch; */
    text-align: center;
  }

  #top-content {
    background-color: #deeeed;
    padding: 0px 0px 0px 0px;
  }

  #barlo-app img {
    margin: 40px 0px 40px 0px;
    width: 100%;
    height: auto;
  }

  #tagline {
    margin-top: 2rem;
  }

  .barlo-circle-text {
    margin: 50px 0px 50px 0px;
  }

  #contact-text {
    margin: 0 0 50px 0;
    line-height: 200%;
    resize: none;
  }

  /* #contact-text strong {
    font-size: 4rem;
  } */

  .charity-headers-desktop {
    display: none;
  }

  .charity-headers-mobile {
    display: block;
  }
}

@media (min-width: 800px) {
  #barlo-app img {
    margin-bottom: -110px;
    width: 78%;
    height: auto;
    float: right;
  }

  #tagline {
    margin-top: 5rem;
  }

  #top-content {
    background-color: #deeeed;
    padding: 80px 50px 0px 50px;
  }

  .barlo-circle-text {
    height: 90px;
    margin: 20px 0px 20px 0px;
  }

  #contact-text {
    margin: 0 0 100px 50px;
    line-height: 200%;
    resize: none;
  }

  #contact-text strong {
    font-size: 4rem;
  }

  #contact-text p {
    font-size: 1.4rem;
    width: 80%;
  }

  .charity-headers-desktop {
    display: block;
  }

  .charity-headers-mobile {
    display: none;
  }

}
